.dropdown {
    position: relative;
    display: inline-block;
    user-select: none;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
  }
  
  .dropdown-header {
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
  }

  .dropdown-header:hover {
    border: 2px solid #007bff;
  }

  .dropdown-header.open {
    border: 2px solid #007bff;
  }

  .dropdown-header-text {
    padding-right: 30px;
    overflow-x: auto;
    max-width: 100%;
  }

  .dropdown-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color:gray;
    transition: transform 0.3s;
    position: absolute;
    right: 10px;
  }
  
  .dropdown-arrow.open {
    transform: rotate(180deg);
  }

  .dropdown-body input[type = "checkbox"] {
    margin-right: 8px;
    cursor: pointer;
  }
  
  .dropdown-body {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 100%;
    z-index: 1;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
  }

  .dropdown-body-actions button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:0;
    border-radius: 4px;
    padding: 8px;
    margin: 5px;
    width: calc(100% - 10px);
    cursor: pointer;
  }

  .dropdown-body-actions button:hover {
    background-color: rgb(232, 246, 254);
  }
  
  .dropdown-option {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    white-space: nowrap;
    max-width: 80vw;
    padding-right:20px;
  }
  
  .dropdown-option:hover {
    background-color: rgb(232, 246, 254);
  }
  
  .dropdown-option.selected {
    background-color: rgb(223, 241, 251);
  }