.container{
  text-align: center;
  margin: 20px;
}

.display{
  margin: 30px;
  text-align: left;
}

.display h2{
  margin-bottom: 0;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 20px;
}