.container{
  text-align: center;
  margin: 20px;
}

.display{
  margin: 20px;
  text-align: left;
}

.display h2{
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.column {
  display: block;
  margin: 20px;
}